<!DOCTYPE html>
<html>
<head>
  <title>Builtwithspree</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="l-container">
    <header>
      <h1>Built with Spree</h1>

      <ul class="messages">
        <li class="notice"><%= notice %></li>
        <li class="alert"><%= alert %></li>
      </ul>

      <p class="lead">As <strong>Spree commerce enthusiasts</strong> we've created an index containing webshops built with the Spree commeree platform</p>
   
    </header>

    <%= yield %>

    <footer>
    </footer>
  </div>
</body>
</html>
